

.mains-heading{
    padding-left: 20px;
    font-family:'comme';
    margin-top: 15px;
    color:  #E5DFD9;
  }


  .cou-img{
    width: 100%;
    max-height: 60vh; 
    cursor: pointer;
  
  }
  
  
  

  
  Row{
    margin-top: 100px;
  
  }
  
  .btns{
    width: 100%;
  }
  
  .btns button{
    width: 100%;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 6px;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 5px;
  }
  
  .btns :hover{
    background-color: palevioletred;
  }
  
  .product-container{
    box-shadow:  0px 2px 5px black;
    transition: transform 0.5s;
    margin: 20px;
    background-color: paleturquoise;
    width: 280px;
    height: fit-content;
    border-radius: 5px;
   
  
  
  }
  
  .product-container:hover{
    transform: translate(-15px);
  }
  
  .map-image{
  
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .prods{
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  
  
  
  
    
  }
  
  .price{
      font-size: 24px;
      font-weight: bold;
     color:deeppink;
  }
  
  @media screen and (max-width:991px){
  
    .no-product-found{
      height: 330px;
      width: 330px;
    }
  
  
    .product-container{
      box-shadow:  0px 2px 5px black;
      transition: transform 0.5s;
      margin: 20px;
      background-color: paleturquoise;
      width: 375px;
      height: fit-content;
      border-radius: 5px;
      
    
    
    }
    
    .product-container:hover{
      transform: translate(-15px);
    }
  }
  
  
  .mains-heading{
    padding-left: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
 
  
  
   
  
  
 
  
  
  .input-wrapper{
    background-color: white;
    width: 50%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin-left: 20%;
   
  }
  
  input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
  }
  
  input:focus{
    outline: none;
  }
  
  
  #search-icon{
    color: royalblue;
  }
  
  
  .empty-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
   
    border-color: orange;
  }
  
  .no-product-found{
    margin-top: 60px;
  }
  
  .empty-search-conatiner{
    position: absolute;
   top: 70%;
    left: 50%;
    transform: translate(-50%);
    
  
  
  }
  
  .loader{
  
    position: absolute;
    top: 50%;
     left: 50%;
     transform: translate(-50% ,140% );
  
  }
  
  .card-title{
    color:   #3e4c59;
  }