.product_state_conatainer{
    display: flex;
    border: 2px white solid;
    padding: 10px;
    flex-wrap: nowrap;
    overflow: auto;
   
    
}

.icon-backpack{
    font-size: 40px;
    padding: 25px;

    
}

.icon-backpack:hover{
    background-color: palevioletred;
}

.product_label{
    font-size: 15px;
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: hsl(144, 75%, 50%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{

    background: hsl(327, 100%, 50%);
    border-radius: 5px;
   

}